Thực hiện các yêu cầu sau với dữ liệu ‘vn_housing_dataset.csv’:
1. Lấy ra thông tin từ các cột Diện tích, Chiều dài, chiều rộng, Giá nhà
2. Kiểm tra các thông tin bất thường
⇒ Loại bỏ nếu thấy bất hợp lý
3. Chuẩn hóa thông tin (ví dụ: giá nhà với đơn vị “tỷ” thì đổi hết sang đơn vị 
“triệu”, nếu có)
4. Lấy thêm thông tin từ cột Ngày tháng, format lại thành “Ngày_Tháng_Năm”
5. Lưu lại dữ liệu đã làm sạch, chuẩn hóa, loại bỏ bất thường… vào file csv 
khác.

In [263]:
import pandas as pd

In [264]:
# Đọc file csv
df = pd.read_csv('VN_housing_dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82496 entries, 0 to 82495
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       82496 non-null  int64
 1   Ngày             82496 non-null  object
 2   Địa chỉ          82449 non-null  object
 3   Quận             82495 non-null  object
 4   Huyện            82449 non-null  object
 5   Loại hình nhà ở  82465 non-null  object
 6   Giấy tờ pháp lý  53610 non-null  object
 7   Số tầng          36399 non-null  object
 8   Số phòng ngủ     82458 non-null  object
 9   Diện tích        82495 non-null  object
 10  Dài              19827 non-null  object
 11  Rộng             35445 non-null  object
 12  Giá/m2           82484 non-null  object
dtypes: int64(1), object(12)
memory usage: 8.2+ MB

In [265]:
#Lấy ra thông tin từ các cột Diện tích, Chiều dài, chiều rộng, Giá nhà
df[['Diện tích','Dài','Rộng','Giá/m2']]

      Diện tích      Dài Rộng           Giá/m2
0         46 m²      NaN  NaN   86,96 triệu/m²
1         37 m²      NaN  NaN  116,22 triệu/m²
2         40 m²     10 m  4 m      65 triệu/m²
3         51 m²  12.75 m  4 m     100 triệu/m²
4         36 m²      9 m  4 m   86,11 triệu/m²
...         ...      ...  ...              ...
82491     38 m²      NaN  NaN   81,58 triệu/m²
82492     50 m²      NaN  NaN     292 triệu/m²
82493     41 m²      NaN  NaN  341,46 triệu/m²
82494     60 m²      NaN  NaN  101,67 triệu/m²
82495     45 m²      NaN  NaN  102,22 triệu/m²

[82496 rows x 4 columns]

In [266]:
# Tách cột "Giá/m2" thành hai cột "Giá" và "Đơn vị"
df[["Giá", "Đơn vị"]] = df["Giá/m2"].str.split(" ", expand=True)
df["Đơn vị"] = df["Đơn vị"].str.split('/').str[0]
# In kết quả
print(df[["Giá", "Đơn vị"]])
print(df["Đơn vị"].unique())

          Giá Đơn vị
0       86,96  triệu
1      116,22  triệu
2          65  triệu
3         100  triệu
4       86,11  triệu
...       ...    ...
82491   81,58  triệu
82492     292  triệu
82493  341,46  triệu
82494  101,67  triệu
82495  102,22  triệu

[82496 rows x 2 columns]
['triệu' 'đ' 'tỷ' nan]

In [267]:
# Xóa các hàng có giá trị null trong cột "Giá/m2" khỏi dataframe
df.dropna(subset=['Giá/m2'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82484 entries, 0 to 82495
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       82484 non-null  int64
 1   Ngày             82484 non-null  object
 2   Địa chỉ          82437 non-null  object
 3   Quận             82483 non-null  object
 4   Huyện            82437 non-null  object
 5   Loại hình nhà ở  82453 non-null  object
 6   Giấy tờ pháp lý  53602 non-null  object
 7   Số tầng          36395 non-null  object
 8   Số phòng ngủ     82446 non-null  object
 9   Diện tích        82484 non-null  object
 10  Dài              19823 non-null  object
 11  Rộng             35439 non-null  object
 12  Giá/m2           82484 non-null  object
 13  Giá              82484 non-null  object
 14  Đơn vị           82484 non-null  object
dtypes: int64(1), object(14)
memory usage: 10.1+ MB

In [268]:
df["Giá"] = df["Giá"].str.replace('.', '').str.replace(',', '.').astype('float')
df.loc[df["Đơn vị"] == "tỷ", "Giá"] *= 1000
df.loc[df["Đơn vị"] == "đ", "Giá"] /= 1000000
df["Đơn vị"] = "triệu"
df.info()
print(df['Đơn vị'].unique())

<class 'pandas.core.frame.DataFrame'>
Index: 82484 entries, 0 to 82495
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       82484 non-null  int64
 1   Ngày             82484 non-null  object
 2   Địa chỉ          82437 non-null  object
 3   Quận             82483 non-null  object
 4   Huyện            82437 non-null  object
 5   Loại hình nhà ở  82453 non-null  object
 6   Giấy tờ pháp lý  53602 non-null  object
 7   Số tầng          36395 non-null  object
 8   Số phòng ngủ     82446 non-null  object
 9   Diện tích        82484 non-null  object
 10  Dài              19823 non-null  object
 11  Rộng             35439 non-null  object
 12  Giá/m2           82484 non-null  object
 13  Giá              82484 non-null  float64
 14  Đơn vị           82484 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 10.1+ MB
['triệu']